<style>
    body {
        background: linear-gradient(-135deg, #ffe505 0%, #ed1f24 100%);
    }
    .container {
        display: block;
        position: relative;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.4);
        box-shadow: inset 0 0 26px rgba(0,0,0,0.2);
        border-radius: 8px;
        max-width: 20em;
        width: 100%;
        padding: 20px;
        text-decoration: none;
        color: #000;
    }
    .logo {
        position: relative;
        margin: 12px auto;
        background: url(/img/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid rgba(0,0,0,0.4);
        box-shadow: inset 0 0 26px rgba(0,0,0,0.2);
        border-radius: 8px;
        width: 200px;
        height: 200px;
        margin-bottom: 24px;
        transition: transform 0.3s ease-in;
    }
    .container:hover .logo {
        transform: scale(1.1);
    }
    .container a {
        display: inline-block;
        text-decoration: none;
    }
    .button:before {
        bottom: 2px;
        opacity: 0.6;
        transition: all 0.3s ease-out;
    }

    .button {
        position: relative;
        display: inline-block;
        padding: 2px;
        margin: 10px;
        transition: all 1s ease;
        color: #000;
        background-color: #fff;
    }
</style>
<a href="/login" class="container">
    <div class="logo"></div>
    <p>Instantly Track Engagement</p>
</a>